.board {
    width: calc(3 * 100px + 2 * 5px);
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    row-gap: 5px;
    column-gap: 5px;
    background: #000000;
}

.board-field {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 4em;
    font-family: 'Anonymous Pro', monospace;
}